body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.quantity-box {
  max-width: 50px;
}

.current-order-line {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.description {
  margin-left: 20px;
  margin-right: 20px;
}
